*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    height: 100%;
}
main{
    margin-top: 5%;
    width: 100%;
    margin: 12.3rem 0;
}
.lugar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

body{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.logo{
    width: 70px;
}
.labelp{
    background-color: aliceblue;
}
.barSearch{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem;
    
}
.cardSection{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 4rem 0px;
    

}

.cardp{
    width: 18rem;
    margin: 1rem 0.5px;
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.50);
    cursor: pointer;

}


text{
    width:50%;
    height:50%; 
    color:#dee2e6";
    
}

.formp{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    margin: 20vh;
}
.tablep{
    border: 3px solid black;

}
.tableCentral{
    display: flex;
    align-items: center;
    margin: 15.5rem 1rem;
    width: 90%;
    justify-content: center;
}
.flechaI{
    transform: translateX(0px);
    transition: transform 500ms;
}
.flechaD{
    transform: translateX(0px);
    transition: transform 500ms;
}
.flechaI:hover{
    transform: translateX(-10px);
    transition: transform 500ms;

}
.flechaD:hover{
    transform: translateX(10px);
    transition: transform 500ms;

}
.maxDetalles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid black;
    align-items: center;
    padding: 4rem 0px;
    border-radius: 4rem ;
    margin: 4px;
    background-color: aliceblue;
}
.img{
    border-radius: 4rem;
    align-self: center;
    width: 40%;
    box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.50);

}
.card-complete{
    border: 1px solid orange;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
    border-radius: 3rem;
    background-color: rgba(87, 181, 216, 0.254) ;
}
.card-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-mid{
    display: flex;
    flex-direction: column;
}
.card-footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

::-webkit-scrollbar{
    width: 1rem;
}
footer>div>img{
    width: 3rem;
    
}
footer{
    background-color: #edb8fa;
    display: flex !important;
    margin-top: auto;
    justify-content: space-around;
    
}
form,table{
    padding: auto;
}

@media (max-width:800px){
    .btn-p{
        margin: 1rem 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
        grid-template-rows: 1fr;
    }
    .maxDetalles{
        flex-direction: column;
        
    }
    .card-complete{
        margin-top: 1rem;
    }

}
@media (max-width:700px){
    .formp{
        margin:auto;
        width: 350px;
        height: 369px;
    }
    .card-complete{
        margin:auto;
        width: 350px;
        height: 369px;
    }
    
}
@media (max-width:570px){
    .btn-p{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;

    }
    
}